
/*debut de lentete*/

header{
    background-color: #2196f3a6;
    text-align: center;
    padding: 5px; 
}
header nav ul{
	display:  inline-block;
	text-decoration: none;
    list-style-type: none;
    background-color: #0013ff;
	padding:0px 17px;
}
header nav ul a{
    text-decoration: none;
    color: white;
}

header nav {
text-align: center;
background-color: #2196f3f0;
}


 header nav ul:hover{
background-color: black;
border-radius: 50px;
transition-duration: 1s;
}

h1{
    background-color:#0013ff;
    color: white;
    font-size: medium;
}
article{
    background-color: #6ebaf7;
}
.uno{
    color: black;
}
.lasuite{
    color: red;
}
.nous{
    font-size: large;
    font-family: ui-monospace;
}
.conditions{
    text-align: center;
    font-size: larger;
    font-family: serif;
}

.defilant{
    color: white;
    font-size: small;
    font-family: inherit;
}
.boutonfooter{
    background-color: #ff1800;
    text-decoration: none;
    color: #f7f5f4;
    border-radius: 20%;
}


/*fin de lentete et debut du developpement*/
main{
    text-align: center;
}

.foto1{
    width: 40%;
}

footer{
    padding: 2%;
    BACKGROUND-COLOR: #2598f2;
    text-align: center;
}


